    
    
    
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Richmond</td>
            <td>Ofori</td>
            <td>0268921345</td>
            <td>123 Mustard Steet Lane</td>
            <td>
                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> </button>
                <button type="button" class="btn btn-primary"><i class="fas fa-edit"></i> </button>
                <button type="button" class="btn btn-primary"><i class="far fa-trash-alt"></i> </button>
    
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Lucy</td>
            <td>Lou</td>
            <td>0234567890</td>
            <td>32 Madina Steet Lane</td>
            <td>
                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> </button>
                <button type="button" class="btn btn-primary"><i class="fas fa-edit"></i> </button>
                <button type="button" class="btn btn-primary"><i class="far fa-trash-alt"></i> </button>
    
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Mandy</td>
            <td>Opoku</td>
            <td>0278921342</td>
            <td>123 Mustard St Lane</td>
            <td>
                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                <button type="button" class="btn btn-primary"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-primary"><i class="far fa-trash-alt"></i> </button>
    
            </td>
        </tr>
        </tbody>
    </table>
    