
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Project Name</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">{{project.project_id}}</th>
        <td>Concurrency</td>
        <td>Threads, Memory, Garbage Collection</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Functional Programming</td>
        <td>Code, OOP, Scala</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Modularity and Testing</td>
        <td>Test Driven Development</td>
    </tr>
    </tbody>
</table>

