.imgbg{
    height: 90vh;
    background: linear-gradient(to right bottom,  rgba(36, 8, 68, 0.7), rgba(2, 3, 3, 0.7)), url('./assets/cms.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}